127.0.0.1       localhost localhost.localdomain
::1     localhost localhost.localdomain
{{ address_www }}   www
{{ address_alertmanager }}  alertmanager
{{ address_gitlab }}    gitlab
{{ address_grafana }}   grafana
{{ address_prometheus }}    prometheus
{{ nat_ip_address }}    proxy
{{ address_db01 }}  db01
{{ address_db02 }}  db02